<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.imageshowlibrary">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        >
        <activity android:name=".ImageVpShowActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/MyLibraryAppTheme"
            ></activity>
        <!--android:theme="@android:style/Theme.NoTitleBar.Fullscreen"-->

    </application>

</manifest>